.head {
    color: #222222;
    font-family: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", "Trebuchet MS","Lucida Grande", "Lucida Sans Unicode","Lucida Sans",Verdana, Arial,sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-left: 40px;
    padding: 5px 0 30px;
}
body, select, input, textarea {
    color: #444;
}

select, input, textarea {
    font: 99% sans-serif;
}

input, select {
    vertical-align: middle;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

div {
    display:  block;
    font-size: 100%;   
}


div#but {
    visibility: hidden;
}

button {
    width: auto;
    height: 20px;
    padding: 5px;
}